<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Photolog</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='app.min.css') }}">
  </head>

  <body id="top">
    {% if session.user_id %}
    <div>
      <h3>Hi, photologger!</h3>
      <a href="{{ url_for('logout') }}">Log out</a>
      <a href="{{ url_for('futon') }}">Futon</a>
      <a href="{{ url_for('futon_new_album') }}">New Album</a>
    </div>
    {% endif %}
    {% with messages = get_flashed_messages(with_categories=True) %}
      {% if messages %}
        {% for category, message in messages %}
          <p class="alert alert-{{ category }}">{{ message }}</p>
        {% endfor %}
      {% endif %}
    {% endwith %}

    <div class="wrapper">
      {% block body %}{% endblock %}
    </div> <!-- /wrapper -->
    <script src="{{ url_for('static', filename='blog.min.js') }}"></script>
  </body>
</html>
