{% extends "base.html" %}

{% block body %}
<nav>
  <div class="about-box">
    <p>Maintained by: <a href="http://mattscodecave.com">Matt</a> &amp; Trznska</p>
  </div>
  <a href="javascript:;" class="about">About</a>
  <div class="paginate-me">
      {% if pagination.total_pages > 1 %}
        {% if pagination.current_page != 1 %}
            <a href="/?page=1">&lt;&lt;</a>
            <a href="/?page={{ pagination.current_page - 1 }}">&lt;</a>
        {% endif %}

        <p>Page {{ pagination.current_page }} of {{ pagination.total_pages }}</p>

        {% if pagination.current_page != pagination.total_pages %}
            <a href="/?page={{ pagination.current_page + 1}}">&gt;</a>
            <a href="/?page={{ pagination.total_pages }}">&gt;&gt;</a>
        {% endif %}
      {% endif %}
  </div>
</nav>

<header>
  <h1>
    <a href="/">Photolog</a>
  </h1>
</header>

{% for album in albums %}
<div class="album">
  <div class="album-meta">
    <div class="date">
      <p>{{ album.inserted_at|nice_datetime }}</p>
    </div>
  </div>

  <div class="photos">
    {% for photo in album.photos %}
    <div class="photo">
      <img src="{{ photo.filename }}" />
      <div class="photo-title">{{ photo.name }}</div>
    </div>
    {% endfor %}
  </div>
</div>
{% endfor %}
{% endblock body %}
