{% extends "admin/base.html" %}
{% block body %}
<h2>Edit {{ album.name }}</h2>

{% with action=url_for('futon_edit_album', album_id=album.id), form=album_form %}
  {% include 'admin/form.html' %}
{% endwith %}

<form method="POST" action="{{ url_for('futon_delete_album', album_id=album.id) }}">
{% for photo in album.photos.all() %}
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    <input type="hidden" name="photo_{{ loop.index0 }}_id" value="{{ photo.id }}">
    <div>
        <label for="photo_{{ loop.index0 }}_delete">Delete?</label>
        <input name="photo_{{ loop.index0 }}" type="checkbox">
    </div>

    <div>
        <label for="photo_{{ loop.index0 }}_name">Name</label>
        <input name="photo_{{ loop.index0 }}_name" type="text" value="{{ photo.description }}">
    </div>

    <div>
        <label for="photo_{{ loop.index0 }}_desc">Name</label>
        <input name="photo_{{ loop.index0 }}_desc" type="text" value="{{ photo.name }}">
    </div>
{% endfor %}
</form>

<a href="{{ url_for('futon') }}">Back</a>
{% endblock body %}
